<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="icon.png" />
    <title>weka-imagefilter-arff-builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet/less" type="text/css" href="styles/styles.less" />
    <script>less = {env: 'production'};</script>
    <script src="vendors/less/less.min.js"></script>

    <script src="vendors/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="vendors/semantic-ui/semantic.min.css" />
    <script src="vendors/semantic-ui/semantic.min.js"></script>

    <script src="vendors/vue/vue.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="ui centered container">
      <form id="app" class="ui form">
        <div class="ui fluid centered input">
          <button 
            type="button" 
            class="ui button select-button"
            v-on:click="$refs.files.click()">
            SELECT IMAGE FILES
          </button>
        </div>

        <input 
          type="file" 
          ref="files" 
          name="images"
          accept="image/png, image/jpeg" 
          v-on:change="onFileInputChange"
          multiple />

        <div class="ui centered card"
             v-if="selectFileNameList.length > 0">
          <div class="content">
            <div class="header">Download</div>
            <div class="description">
              <div class="ui fluid input">
                <input 
                  type="text"
                  v-model="filename" />
              </div>
            </div>
          </div>
          <div class="ui bottom attached button">
            <i class="download icon"></i>
            Download
          </div>
        </div>

        <table class="ui compact collapsing unstackable table count-table"
               v-if="selectFileNameList.length > 0">
          <thead>
            <tr>
              <th>
                Class
              </th>
              <th>
                Count
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="classItem in classCount">
              <td>
                {{ classItem.className }}
              </td>
              <td>
                {{ classItem.count }}
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <script src="scripts/vue-app-data.js"></script>
    <script src="scripts/vue-app-mounted.js"></script>
    <script src="scripts/vue-app-computed.js"></script>
    <script src="scripts/vue-app-watch.js"></script>
    <script src="scripts/vue-app-methods.js"></script>

    <script src="scripts/vue-app.js"></script>
    <script src="scripts/ga.js"></script>

  </body>
</html>