<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <link rel="manifest" href="/news/manifest.json"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="icon.png" />
    <title>Weka ImageFitler ARFF Builder</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet/less" type="text/css" href="styles/styles.less" />
    <script>less = {env: 'production'};</script>
    <script src="vendors/less/less.min.js"></script>

    <script src="vendors/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="vendors/semantic-ui/semantic.min.css" />
    <script src="vendors/semantic-ui/semantic.min.js"></script>

    <script src="vendors/vue/vue.min.js"></script>
    <script src="vendors/date-helper.js"></script>
    <script src="vendors/jszip/FileSaver.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="ui centered container">
      <form id="app" class="ui form centered grid">
        <h1>
          <a href="//blog.pulipuli.info/2017/06/wekaimagefilter-extract-features-from.html" target="_blank">
            Weka ImageFitler ARFF Builder
          </a>
        </h1>
        <div class="row">
          <div class="centered aligned column">
            <div class="ui centered input select-button">
              <button 
                type="button" 
                class="ui button"
                v-on:click="$refs.files.click()">
                <i class="open folder icon"></i>
                SELECT IMAGE FILES
              </button>
            </div>
          </div>
        </div>
        
        <div class="one column centered row">
          <div class="centered column separation-column">
            <div class="inline centered fields separation-fields">
              <label>Separation</label>
              <div class="field">
                <div class="ui fitted checked checkbox">
                  <input 
                    type="checkbox" 
                    checked=""
                    value="_"
                    v-model="separationList">
                  <label class="underline-separation">
                    _
                  </label>
                </div>
              </div>
              <div class="field">
                <div class="ui checked checkbox">
                  <input 
                    type="checkbox" 
                    checked=""
                    value="-"
                    v-model="separationList">
                  <label>-</label>
                </div>
              </div>
              <div class="field">
                <div class="ui checked checkbox">
                  <input 
                    type="checkbox" 
                    checked=""
                    value=" "
                    v-model="separationList">
                  <label>(Space)</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="one column centered row">
          <div class="centered column separation-column">
            <div class="field">
              <label>Unknown Class Name</label>
              <input type="text" 
                     name="unknownClassName" 
                     placeholder="unknown"
                     v-model="unknownClassName"
                     />
            </div>
          </div>
        </div>
        
        <input 
          type="file" 
          ref="files" 
          name="images"
          accept="image/jpeg" 
          v-on:change="onFileInputChange"
          multiple />

        <div class="row">
          <div class="column">
            
        <div class="ui centered card"
             v-if="classCount.length > 0">
          <div class="content">
            <div class="header">Download</div>
            <div class="description">
              <div class="ui fluid input">
                <input 
                  type="text"
                  v-model="filename"
                  v-bind:placeholder="filenamePlaceholder"/>
              </div>
            </div>
          </div>
          <div class="ui bottom attached buttons">
            <div class="ui button" 
                 v-on:click="downloadTrainARFF">
              Train Dataset
            </div>
            <div class="ui button" 
                 v-if="hasUnknownClassName "
                 v-on:click="downloadUnknownARFF">
              Unknown Dataset
            </div>  
          </div>
        </div>
          </div>
        </div>
        <table class="ui compact collapsing unstackable table count-table"
               v-if="classCount.length > 0">
          <thead>
            <tr>
              <th>
                Class
              </th>
              <th>
                Count
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="classItem in classCount">
              <td>
                {{ classItem.className }}
              </td>
              <td>
                {{ classItem.count }}
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>

    <script src="scripts/vue-app-data.js"></script>
    <script src="scripts/vue-app-mounted.js"></script>
    <script src="scripts/vue-app-computed.js"></script>
    <script src="scripts/vue-app-watch.js"></script>
    <script src="scripts/vue-app-methods.js"></script>

    <script src="scripts/vue-app.js"></script>
    <script src="scripts/ga.js"></script>

  </body>
</html>