<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <link rel="manifest" href="manifest.json"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="icon.png" />
    <title>Kappa Computer</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="vendors/jquery/jquery.min.js"></script>
    <link rel="stylesheet" href="vendors/semantic-ui/semantic.min.css" />
    <script src="vendors/semantic-ui/semantic.min.js"></script>

    <script src="vendors/vue/vue.min.js"></script>
    <script src="vendors/date-helper.js"></script>
    <script src="vendors/jszip/FileSaver.min.js"></script>
  </head>
  <body>
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div class="ui centered container">
      <form id="app" class="ui form centered grid">
        <h1>
            Kappa Computer
        </h1>
        <div class="row">
          <div class="aligned column">
            <div class="ui skip checked checkbox">
              <input type="checkbox" v-model="skipFirst" />
              <label>Skip first Col & first Row</label>
            </div>
          </div>
        </div>

        <div class="column centered coder row">
          <div class="ui centered equal width grid">
            <div class="ui textarea form" v-for="(code, index) in codes">
              <div class="field">
                <label>Coder {{ (index + 1) }}</label>
                <textarea v-model="code.code"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="column grid row">
          <div class="six wide column">
            <div class="left floated column">
              <div class="ui primary button added-button">
                <i class="plus circle icon"></i>
                Add
              </div>
            </div>
          </div>
        </div>

        <div class="column grid row">
          <div class="six wide column">
            <div class="ui primary button fluid calculation-button" v-on:click="calcKappa">
              Calc Kappa
            </div>
          </div>
        </div>

        <div class="column gird row">
          <div class="six wide column">
            <div class="ui divider"></div>
          </div>
        </div>

        <table class="ui table" v-for="codes in formatedCodes">
          <thead>
            <tr>
              <th>participant</th>
              <th v-for="code in codeArray">
                {{ code }}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="row in codes">
              <th>
                {{ row.participant }}
              </th>
              <td v-for="code in codeArray">
                {{ row.codes[code] }}
              </td>
            </tr>
          </tbody>
        </table>

      </form>
    </div>
aaa
    <script src="scripts/vue-app-data.js"></script>
    <script src="scripts/vue-app-mounted.js"></script>
    <script src="scripts/vue-app-computed.js"></script>
    <script src="scripts/vue-app-watch.js"></script>
    <script src="scripts/vue-app-methods.js"></script>

    <script src="scripts/vue-app.js"></script>
    <script src="scripts/ga.js"></script>

  </body>
</html>
